.q0_orange { background-color: #fff; }
.q1_orange { background-color: #ffe0b2; }
.q2_orange { background-color: #ffcc80; }
.q3_orange { background-color: #ffb74d; }
.q4_orange { background-color: #ffa726; }
.q5_orange { background-color: #ff9800; }
.q6_orange { background-color: #fb8c00; }
.q7_orange { background-color: #f57c00; }
.q8_orange { background-color: #ef6c00; }
.q9_orange { background-color: #e65100; }
.q10_orange { background-color: #bf360c; }
