.q0_orange { background-color: #ffffff; }
.q1_orange { background-color: #ffefd5; }
.q2_orange { background-color: #ffdfcc; }
.q3_orange { background-color: #ffcfb3; }
.q4_orange { background-color: #ffbf99; }
.q5_orange { background-color: #ffaf4f; }
.q6_orange { background-color: #ff9f66; }
.q7_orange { background-color: #ff8f4c; }
.q8_orange { background-color: #ff7f33; }
.q9_orange { background-color: #ff6f19; }
.q10_orange { background-color: #ff5f00; }
